<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JOGSetUpUI.JOGSet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JOGSetUpUI.JOG" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JOGSetUpUI.JOGSet>
            <setting name="JogFeedrate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="IncJog" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpindleSpeed" serializeAs="String">
                <value>24000</value>
            </setting>
        </JOGSetUpUI.JOGSet>
        <JOGSetUpUI.JOG>
            <setting name="DescType" serializeAs="String">
                <value>0</value>
            </setting>
        </JOGSetUpUI.JOG>
    </userSettings>
</configuration>