<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkAreaLimit.Act" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkAreaLimit.Act>
            <setting name="XMINActOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YMINActOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZMINActOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CMINActOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMAXActOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YMAXActOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZMAXActOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CMAXActOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMINValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YMINValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZMINValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CMINValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XMAXValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YMAXValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZMAXValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CMAXValue" serializeAs="String">
                <value>0</value>
            </setting>
        </WorkAreaLimit.Act>
    </userSettings>
</configuration>